<nav id="main-nav">
    <h1 id="nav-title">FinTrack</h1>
    <div id="space1"></div>
    <ul id="nav-list">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/create">Create Entry</a></li>
    </ul>
</nav>
